Agencia/xml-resources/web-service-references/SWTransporte/wsdl/13.59.54.99_8080/SWTransporte/SWTransporte.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Controlador/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Controlador/" name="SWTransporteAdministrador">
<types>
<xsd:schema>
<xsd:import namespace="http://Controlador/" schemaLocation="http://13.59.54.99:8080/SWTransporte/SWTransporte?xsd=1" />
</xsd:schema>
</types>
<message name="listaDestinos">
<part name="parameters" element="tns:listaDestinos" />
</message>
<message name="listaDestinosResponse">
<part name="parameters" element="tns:listaDestinosResponse" />
</message>
<message name="comprarBoleto">
<part name="parameters" element="tns:comprarBoleto" />
</message>
<message name="comprarBoletoResponse">
<part name="parameters" element="tns:comprarBoletoResponse" />
</message>
<message name="listaOrigenes">
<part name="parameters" element="tns:listaOrigenes" />
</message>
<message name="listaOrigenesResponse">
<part name="parameters" element="tns:listaOrigenesResponse" />
</message>
<message name="buscarCamion">
<part name="parameters" element="tns:buscarCamion" />
</message>
<message name="buscarCamionResponse">
<part name="parameters" element="tns:buscarCamionResponse" />
</message>
<portType name="SWTransporte">
<operation name="listaDestinos">
<input wsam:Action="http://Controlador/SWTransporte/listaDestinosRequest" message="tns:listaDestinos" />
<output wsam:Action="http://Controlador/SWTransporte/listaDestinosResponse" message="tns:listaDestinosResponse" />
</operation>
<operation name="comprarBoleto">
<input wsam:Action="http://Controlador/SWTransporte/comprarBoletoRequest" message="tns:comprarBoleto" />
<output wsam:Action="http://Controlador/SWTransporte/comprarBoletoResponse" message="tns:comprarBoletoResponse" />
</operation>
<operation name="listaOrigenes">
<input wsam:Action="http://Controlador/SWTransporte/listaOrigenesRequest" message="tns:listaOrigenes" />
<output wsam:Action="http://Controlador/SWTransporte/listaOrigenesResponse" message="tns:listaOrigenesResponse" />
</operation>
<operation name="buscarCamion">
<input wsam:Action="http://Controlador/SWTransporte/buscarCamionRequest" message="tns:buscarCamion" />
<output wsam:Action="http://Controlador/SWTransporte/buscarCamionResponse" message="tns:buscarCamionResponse" />
</operation>
</portType>
<binding name="SWTransportePortBinding" type="tns:SWTransporte">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="listaDestinos">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="comprarBoleto">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="listaOrigenes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="buscarCamion">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="SWTransporteAdministrador">
<port name="SWTransportePort" binding="tns:SWTransportePortBinding">
<soap:address location="http://13.59.54.99:8080/SWTransporte/SWTransporte" />
</port>
</service>
</definitions>