Agencia/xml-resources/web-service-references/Pasarela/wsdl/13.59.54.99_8080/pasarelaPago/Pasarela.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://pasarela.registro/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://pasarela.registro/" name="Pasarela">
<types>
<xsd:schema>
<xsd:import namespace="http://pasarela.registro/" schemaLocation="http://13.59.54.99:8080/pasarelaPago/Pasarela?xsd=1" />
</xsd:schema>
</types>
<message name="Registro">
<part name="parameters" element="tns:Registro" />
</message>
<message name="RegistroResponse">
<part name="parameters" element="tns:RegistroResponse" />
</message>
<message name="Transaccion">
<part name="parameters" element="tns:Transaccion" />
</message>
<message name="TransaccionResponse">
<part name="parameters" element="tns:TransaccionResponse" />
</message>
<message name="ConsultarTransaccion">
<part name="parameters" element="tns:ConsultarTransaccion" />
</message>
<message name="ConsultarTransaccionResponse">
<part name="parameters" element="tns:ConsultarTransaccionResponse" />
</message>
<message name="ConsultarHistorial">
<part name="parameters" element="tns:ConsultarHistorial" />
</message>
<message name="ConsultarHistorialResponse">
<part name="parameters" element="tns:ConsultarHistorialResponse" />
</message>
<portType name="Pasarela">
<operation name="Registro">
<input wsam:Action="http://pasarela.registro/Pasarela/RegistroRequest" message="tns:Registro" />
<output wsam:Action="http://pasarela.registro/Pasarela/RegistroResponse" message="tns:RegistroResponse" />
</operation>
<operation name="Transaccion">
<input wsam:Action="http://pasarela.registro/Pasarela/TransaccionRequest" message="tns:Transaccion" />
<output wsam:Action="http://pasarela.registro/Pasarela/TransaccionResponse" message="tns:TransaccionResponse" />
</operation>
<operation name="ConsultarTransaccion">
<input wsam:Action="http://pasarela.registro/Pasarela/ConsultarTransaccionRequest" message="tns:ConsultarTransaccion" />
<output wsam:Action="http://pasarela.registro/Pasarela/ConsultarTransaccionResponse" message="tns:ConsultarTransaccionResponse" />
</operation>
<operation name="ConsultarHistorial">
<input wsam:Action="http://pasarela.registro/Pasarela/ConsultarHistorialRequest" message="tns:ConsultarHistorial" />
<output wsam:Action="http://pasarela.registro/Pasarela/ConsultarHistorialResponse" message="tns:ConsultarHistorialResponse" />
</operation>
</portType>
<binding name="PasarelaPortBinding" type="tns:Pasarela">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="Registro">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Transaccion">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ConsultarTransaccion">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ConsultarHistorial">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="Pasarela">
<port name="PasarelaPort" binding="tns:PasarelaPortBinding">
<soap:address location="http://13.59.54.99:8080/pasarelaPago/Pasarela" />
</port>
</service>
</definitions>