Agencia/xml-resources/web-service-references/ClientesServer/wsdl/13.59.54.99_8080/Clientes/ClientesServer.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://agencia.mx/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://agencia.mx/" name="ClientesServer">
<types>
<xsd:schema>
<xsd:import namespace="http://agencia.mx/" schemaLocation="http://13.59.54.99:8080/Clientes/ClientesServer?xsd=1" />
</xsd:schema>
</types>
<message name="deleteUsuario">
<part name="parameters" element="tns:deleteUsuario" />
</message>
<message name="deleteUsuarioResponse">
<part name="parameters" element="tns:deleteUsuarioResponse" />
</message>
<message name="getUsuario">
<part name="parameters" element="tns:getUsuario" />
</message>
<message name="getUsuarioResponse">
<part name="parameters" element="tns:getUsuarioResponse" />
</message>
<message name="hello">
<part name="parameters" element="tns:hello" />
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse" />
</message>
<message name="updateUsuario">
<part name="parameters" element="tns:updateUsuario" />
</message>
<message name="updateUsuarioResponse">
<part name="parameters" element="tns:updateUsuarioResponse" />
</message>
<message name="insertUsuario">
<part name="parameters" element="tns:insertUsuario" />
</message>
<message name="insertUsuarioResponse">
<part name="parameters" element="tns:insertUsuarioResponse" />
</message>
<message name="getAllUsuarios">
<part name="parameters" element="tns:getAllUsuarios" />
</message>
<message name="getAllUsuariosResponse">
<part name="parameters" element="tns:getAllUsuariosResponse" />
</message>
<message name="login">
<part name="parameters" element="tns:login" />
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse" />
</message>
<message name="register">
<part name="parameters" element="tns:register" />
</message>
<message name="registerResponse">
<part name="parameters" element="tns:registerResponse" />
</message>
<portType name="ClientesServer">
<operation name="deleteUsuario">
<input wsam:Action="http://agencia.mx/ClientesServer/deleteUsuarioRequest" message="tns:deleteUsuario" />
<output wsam:Action="http://agencia.mx/ClientesServer/deleteUsuarioResponse" message="tns:deleteUsuarioResponse" />
</operation>
<operation name="getUsuario">
<input wsam:Action="http://agencia.mx/ClientesServer/getUsuarioRequest" message="tns:getUsuario" />
<output wsam:Action="http://agencia.mx/ClientesServer/getUsuarioResponse" message="tns:getUsuarioResponse" />
</operation>
<operation name="hello">
<input wsam:Action="http://agencia.mx/ClientesServer/helloRequest" message="tns:hello" />
<output wsam:Action="http://agencia.mx/ClientesServer/helloResponse" message="tns:helloResponse" />
</operation>
<operation name="updateUsuario">
<input wsam:Action="http://agencia.mx/ClientesServer/updateUsuarioRequest" message="tns:updateUsuario" />
<output wsam:Action="http://agencia.mx/ClientesServer/updateUsuarioResponse" message="tns:updateUsuarioResponse" />
</operation>
<operation name="insertUsuario">
<input wsam:Action="http://agencia.mx/ClientesServer/insertUsuarioRequest" message="tns:insertUsuario" />
<output wsam:Action="http://agencia.mx/ClientesServer/insertUsuarioResponse" message="tns:insertUsuarioResponse" />
</operation>
<operation name="getAllUsuarios">
<input wsam:Action="http://agencia.mx/ClientesServer/getAllUsuariosRequest" message="tns:getAllUsuarios" />
<output wsam:Action="http://agencia.mx/ClientesServer/getAllUsuariosResponse" message="tns:getAllUsuariosResponse" />
</operation>
<operation name="login">
<input wsam:Action="http://agencia.mx/ClientesServer/loginRequest" message="tns:login" />
<output wsam:Action="http://agencia.mx/ClientesServer/loginResponse" message="tns:loginResponse" />
</operation>
<operation name="register">
<input wsam:Action="http://agencia.mx/ClientesServer/registerRequest" message="tns:register" />
<output wsam:Action="http://agencia.mx/ClientesServer/registerResponse" message="tns:registerResponse" />
</operation>
</portType>
<binding name="ClientesServerPortBinding" type="tns:ClientesServer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="deleteUsuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getUsuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="hello">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updateUsuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="insertUsuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllUsuarios">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="login">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="register">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="ClientesServer">
<port name="ClientesServerPort" binding="tns:ClientesServerPortBinding">
<soap:address location="http://13.59.54.99:8080/Clientes/ClientesServer" />
</port>
</service>
</definitions>